<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>List Users</title>

</head>

<body>

    <th:block th:each="user : ${users}">

        <a th:href="|@{/users/edit/}${user.id}|" th:text="|Edit User ${user.id}|"></a>
        <div th:text="|User ID: ${user.id}|"/>
        <div th:text="|User Name: ${user.name}|"/>
        <div th:text="|User Address: ID ${user.address.id}|"/>
        <div th:text="|User Address: Street ${user.address.street}|"/>
        <br/>

    </th:block>
</body>
</html>